.container {
 
    
    width: 90vw;
    height: 85vh;
    background-color: rgb(245, 253, 253);
    margin: auto;
    
   
}

img {
    opacity: 0.3;
    margin: 1.8rem;
    position: absolute;
    left: 25%;
    transform: translateX(-50%);
    transform: scale(0.9);
    margin: auto;
}