/* .container {
 
    
    width: 90vw;
    height: 85vh;
    background-color: rgb(245, 253, 253);
    
    
   
} */

img {
    opacity: 0.3;
    margin: 1.8rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}